@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f; */
}

.title {
  font: var(--m-font);
  cursor: pointer;
}

.description {
  font: var(--s-font);
}

.backgroundOverlay {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 90%,rgba(0, 0, 0, 0.2) 100%);
}

.cardsContainer {
  display: flex;
  width: 100%;
  /* padding-left: 40px; */
  /* justify-content: space-evenly; */
  flex-wrap:nowrap;
  -webkit-overflow-scrolling: touch;
  /* -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow:-moz-hidden-scrollable; */
  overflow-x: scroll;
}

.cardsContainer::-webkit-scrollbar {
  display: none;}

.hideOverflow {
  overflow:hidden;
}

.card {
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow:visible;
  flex: 0 0 20%;
  width: 150px;
}

.cardHeader img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  font-size: 0.775rem;
  margin: 0 0 20px;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tagTeal {
  background-color: var(--brand-color);
}

.cardBody h2 {
  padding-bottom: 10px;
}

.cardBody p {
  margin: 0;
}
.user {
  display: flex;
  margin-top: auto;
}

/* .user img {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 10px;
} */
.user-Info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
