.wrapper {
  position: fixed;
  width: 100%;
  background-color: #130d03;
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo {
  font: var(--l-font);
  line-height: 1;
  color: var(--brand-color);
}

.icon {
  /* font-size: 22px; */
  color: var(--brand-color);
  font: var(--xl-font);
  cursor: pointer;
}
