.overview {
  display: flex;
  flex-direction: row;
  height: 90vh;
  padding-top: 100px;
}

.galleryContainer {
  width: 62%;
  background-color: var(--border-color);
}

.infoContainer {
  padding: var(--xl-white-space);
  width: 38%;
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
