/* .combined {
  display: flex;
  flex-direction: column;
} */

.overview {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  padding-top: 100px;
  width: 100%;
}

.galleryContainer {
  width: 62%;
  background-color: var(--border-color);
}

.infoContainer {
  padding: var(--xl-white-space);
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding: var(--xl-white-space);
}
