.actionsContainer {
  display: flex;
  flex-direction: row;
}

.sizeContainer {
  width: 70%;
}

.quantityContainer {
  width: 30%;
}

.size {
  width: 90%;
}

.quantity {
  width: 100%;
}

.actionsContainer2 {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.addToBagContainer {
  width: 80%;
}

.favoriteContainer {
  width: 20%;
}

.bag {
  width: 92%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fav {
  border: 1px solid var(--border-color);
  font-weight: 600;
  font-size: 12px;
  padding: var(--s-white-space);
  color: var(--font-color);
  background-color: var(--bg-color);
  min-width: 100%;
  text-align: center;
  min-height: 100%;
}

.icon {
  font: var(--l-font);
}
