.modalStyles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e2a850;
  padding: 50px;
  z-index: 1000;
}

.overlayStyles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(5, 5, 5, 0.7);
  z-index: 1000;
}

.buttonWrapperStyles {
  position: relative;
  z-index: 1;
}
/* .modalHeader, */
/* .modalBody, */
.modalFooter {
  margin-top: 100px;
  padding: 2rem;
}

input, textarea {
  width: 400px;
  margin-top: 15px;
}

.fontSize {
  font-size: 16px;
}

.spacingStyles {
  margin-top: var(--m-white-space);
  margin-bottom: var(--m-white-space);
}

.buttonSpacing {
  margin-right: var(--l-white-space);
}
/* :root {
  --bg-color: #f9f9f9;
  --border-color: #c7c7c4;
  --brand-color: #e2a850;
  --font-color: #130d03;
} */
